.c.pc
  %h2= @static_page.title
  %br
  %br
  %div=h @static_page.content
- if @static_page.permalink == 'car_wash_owner_info'
  %hr
  .container
    .columns-12
      = link_to "Скачать ПРЕЗЕНТАЦИЮ", static_page_path(@static_page, :format => 'pdf'), class: 'btn btn-lg btn-success'
    

