#c
  -if @sign_up_successful
    .c
      Спасибо, регистрация через Facebook завершена успешно.
      Если вы являетесь владельцем автомойки и хотите зарегистрировать её, то заполните следующие поля, пожалуйста:
      = render 'users/omniauth_callbacks/form'