class @Balloon

  @body: (car_wash, url) ->
    wrapper_begin = '<div class="balloon">'
    wrapper_end = '</div>'
    part1 = """
      <a href='#{url}'>
      <h2 class="marged">
        #{car_wash.title}
      </h2></a>
      <div class="address">
        Адрес: #{car_wash.address}
      </div>
      <div class="phone">
        Телефон: #{car_wash.contacts}
      </div>
            """
    part2 = if car_wash.servises? then "<h5 class='services'>#{car_wash.services}</h5>" else ''
    part3 = if car_wash.widget_content? then "<div class='widget-content'>#{car_wash.widget_content}</div>" else ''
    part4 = """
      <div class="categories clearfix">
        #{car_wash.categories}
      </div>
      <br/>
      <div>
      <a href='#{url}'>
        Перейти на страницу этой автомойки
      </a></div>
            """

    if car_wash.grey
      ret = wrapper_begin + part1 + part4 + wrapper_end
    else
      if car_wash.signal
          ret = """
            <div class="balloon">
              #{part1}
              #{part3}
              <span class="green">Свободно</span>
              <br/>
              #{part4}
            </div>
                """
      else
          ret = """
            <div class="balloon">
              #{part1}
              #{part3}
              <span class="red">Занято</span>
              <br/>
              #{part4}
            </div>
                """
    return ret

  @bodyLayout: ->
    window.ymaps.templateLayoutFactory.createClass('<div>$[properties.body]</div>')
