class @Hint

  @content: (car_wash) ->
    if car_wash.widget_type != 'normal' && !!car_wash.widget_content
      Hint.render(car_wash)

  @render: (car_wash) ->
    timeNow = new Date
    # wrapper_begin = '<div class="hint">'
    # wrapper_end = '</div>'
    # part1 = """
    #   <h3>
    #     #{car_wash.title.toUpperCase()}
    #   </h3>
    #   <h5 class="address">
    #     Адрес: #{car_wash.address}
    #   </h5>
    #         """
    # part2 = car_wash.widget_content

    # ret = wrapper_begin + part1 +  part2 +  wrapper_end;

    ret = """
    <div class="hint">
      <h3>
        #{car_wash.title.toUpperCase()}
      </h3>
      <h5 class="address">
        Адрес: #{car_wash.address}
      </h5>
      <div class="hint-widget-content">
        <span class="hw-title">#{car_wash.widget_title}:</span> #{car_wash.widget_content}
      </div>
    </div>
    """
    return ret
