//@import "twitter/bootstrap";
@import "bootsy";
@import "social";


@mixin pushed-shadow{
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) inset;
	background-color: white;
}

// @import "forem/base";
// @import "forem-bootstrap";
@import "reset";
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 400;
// 	src: ;
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
@import "compass";
// @include font-face("Open Sans", font-files("OpenSans-Regular-webfont.woff", "OpenSans-Regular-webfont.ttf",  "OpenSans-Regular-webfont.svg"),"OpenSans-Regular-webfont.eot");
// @include font-face("Open Sans", font-files(asset-url("fonts/OpenSans-Regular-webfont"),'ttf'),asset-url("fonts/OpenSans-Regular-webfont.eot"));
@font-face {
  font-family: 'Open Sans';
  src:font_url('OpenSans-Regular-webfont.eot');
  src:asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('OpenSans-Regular-webfont.svg#opensans') format('svg'),
    asset-url('OpenSans-Regular-webfont.woff') format('woff'),
    asset-url('OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "navs";
@import "scaffolds";

// Sprites
@import "toggle_buttons";
@import "placemarks";
@import "categories";

// @import "bootstrap";
// @import "flowplayer/skin/minimalist"

$blue: #56b2ff;
// rgb(255, 207, 6)
$yellow: #FFF14A;
// $yellow: rgba(248, 248, 248, 1);
$dark-blue: adjust-hue(darken($blue,40%),-25deg);
// $sb-color: rgba(249,249,249,0.95);
$sb-color: white;

$g-shadow: 0px 0px 6px rgba(0,0,0,0.1);

$sb-width: 240px;
$mq-height: 30px;

$carousel-count: 10;

// $hlv: 'Helvetica Neue';
// $pt: 'PT Sans';
$hlv: 'Helvetica Neue','Open Sans', 'Helvetica','Arial';
$pt: 'PT Sans';

@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}


html,body{
	height:100%;
	background-color: #e5e5e5;
	font-family: $pt, sans-serif;

}

* {
	box-sizing: border-box;
}

a{
	text-decoration:none;
	color: #222;
	&:hover{
		// border-bottom: 1px solid #222;
		text-decoration: underline;
		// &.image {
		// 	border-bottom: none;
		// }
	}
	&.blue{
		color: #2116ed;
		border-bottom: 1px dashed #2116ed;
		&:hover{
			color: #4d96ed;
		}
	}
}

// input:focus, textarea:focus{
// 	outline: none;
// 	background-color: #7ad8f8;
// }

.v-align-helper{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.clearfix{
	overflow: auto;
}
#sb{
	width:$sb-width;
	// height:120%;
	padding-bottom: 120px;

	// background-color:rgba(245,245,245,0.95);
	background-color:$sb-color;
	// box-shadow:2px 0px 4px rgba(0,0,0,0.3);
	box-shadow:$g-shadow;
	// border-right: 2px solid #777;

	// padding-left:10px;

	/*overflow-y:auto;*/
	z-index:10;
	position:absolute;
	float:left;
	.ocean{
		margin-top: -29px;
	}
	.logo{
		// padding-top: 10px;
		// padding-left: 10px;
		// padding-bottom: 20px;
		margin: 10px;
		background: white;
		// padding: 7px;
		// padding-left:21px;
		// box-shadow: 0 0 6px rgba(0,0,0,0.5);
		img{
			width:210px;
		}
	}

	.hr{
		height: 86px;
		background: #56b2ff;
		// box-shadow: 0 0 5px rgba(0,0,0,0.2);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
		position: fixed;
		width: $sb-width;
		top: 0;
		z-index: -1;
	}

	.social{
		overflow:auto;
		float: right;
		display: none;
		margin:10px 5px;
		background-color: #af0f0f;
		padding: 4px;
		padding-right: 6px;
		margin-right: -6px;
		box-shadow: -2px 2px #4f0707;

 	}


	nav{
		position: relative;
		top: 26px;
		// background-color: $sb-color;
	}

	#survey{
		padding:10px;
		background-color: rgba(150,159,150,0.13);
		box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
		font-size: 13px;
	}

	#footer{
		position: fixed;
		bottom: 0;
		height: 80px;
		background-color: rgba(68, 61, 59, 0.88);
		color: white;
		width: inherit;
		font-size: 10pt;
		z-index: 10;
		box-shadow: 0px -1px 5px rgb(186, 190, 197);
		// background: -webkit-linear-gradient(-64deg, rgba(68,61,59,0.98) 0%,rgba(68,61,59,1) 49%,rgba(81,81,81,1) 50%,rgba(68,61,59,0.98) 100%);
		background: asset-url('footer_2.png');
		
		#copyright{
			margin: 15px;
			position: absolute;
			bottom:0;
			right:0
		}

		

	}

}
#social{
	margin: 10px;
}

nav ul{
	font-family:$hlv, $pt, sans-serif;

	li{
		&:hover{
			background-color: #f1f6f6;
		}
		.img{
				width: 16px;
				height: 16px;
				background: asset-url('icons.png');
				position: relative;
				z-index:10;
				// top: 4px;
				// float: right;
				position: absolute;
				right: 11px;
				top: 12px;
			}

		a.li{
			display: block;
			padding:10px;
			cursor:pointer;
			margin:0;
			transition: 400ms all ease;
			width: 100%;
			overflow: auto;
			position: relative;
					}
		&.active{
			// background-color:$blue;
			border-right:8px solid $blue;
			background-color: rgba(150,159,150,0.13);
			box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
			img{
			}
			a{
				color: #222 !important;
				// font-weight: bold;
				color: $dark-blue;
				// &:after{
				// 	content: "";
				// 	display: inline-block;
				// 	background-color: $blue;
				// 	width: 30px;
				// 	height: 40px;
				// 	position: absolute;
				// 	z-index: 0;
				// 	top: 0px;
				// 	left:190px;
				// }
				// &:after{
				// 	content:"";
				// 	background-color:white;
				// 	width:7px;
				// 	height:7px;
				// 	display:inline-block;
				// 	@include rotate(45deg);
				// 	// border-top: 1px solid black;
				// 	// border-right: 1px solid black;
				// 	border-top: 2px solid $blue;
				// 	border-right: 2px solid $blue;
				// 	// box-shadow:0px 0px 2px 1px rgba(0,0,0,0.3);
				// 	position: absolute;
				// 	// z-index: -1;
				// 	left: 195px;
				// 	top:3px;
				// 	border-radius: 1px;
				// }
			}

		}
		&:hover{
			a{
				color: #222 !important;
			}
		}
		a{/* Old one
			text-transform: uppercase;
			text-decoration:none;
			font-family:'Helvetica Neue', sans-serif;
			font-size:9pt;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			color:#444;
			letter-spacing:1px;
			padding:0;
			position:relative;
			transition: 0.2s all ease; */
			// text-transform: lowercase;
			// text-decoration:none;
			font-size:15px;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			color:#666;
			letter-spacing:0px;
			// padding:0;
			position:relative;
			transition: 0.2s all ease;
			// font-weight: 200;
			&:visited{
				// color: #444;
			}
			
		}
	}
	// #news{
		// border: 1px solid #ccc;
		
		// }
	// }


}



#news_list{
	// background-color: rgba(150,159,150,0.13);
	// box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
	// font-size: 9pt;
	// padding: 4px 10px;
	// background-color: rgba(150,159,150,0.13);
	font-size: 9pt;
	border-right: 8px solid #56b2ff;
	padding: 4px 10px;
	// box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
	a{
		margin:0 0;
		display: block;
		color: #555 !important;
		span{
			color: #888;
		}
	}
}

b{
	font-weight: bold;
}

#hd{
	position: fixed;
	z-index:10;
	left:0;
	right:0;
	line-height: $mq-height;
	margin-left:$sb-width;

	#mq{
		overflow: hidden;
		background-color: rgba(0,0,0,0.8);
		// needs latest Compass, add '@import "compass"' to your scss
		background-color: rgb(17,72,127); // Old browsers
		@include filter-gradient(#000205, #5A5D66, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(linear-gradient(left top,  #000205 0%,#5A5D66 100%));
		height:$mq-height;
		border-bottom: 1px solid black;
		color:white;
		// padding-left: 10px;
		.vr{
			// border-right: 1px solid #ccc;
			height: ($mq-height - 6);
			position: relative;
			&:after{
				content: "";
				top:3px;
				bottom:3px;
				border-left: 1px solid black;
				border-right: 1px solid #666;
			}
			// top: 3px;
		}
		// position:fixed;
		div{
			display: inline-block;
			float: left;
			padding: 0 2px;
		}
		.traffic{
			#traffic_light{
				// position: relative;
				// top: 2px;
				width:16px;
				height: 20px;
				// vertical-align: middle;
				position: relative;
				top: 5px;
				padding: 0 10px;
				&.none{
					background: asset-url('traffic_none.png') no-repeat;
				}
				&.red{
					background: asset-url('traffic_red.png') no-repeat;
				}
				&.yellow{
					background: asset-url('traffic_yellow.png') no-repeat;
				}
				&.green{
					background: asset-url('traffic_green.png') no-repeat;
				}
			}
		}
		#message{
			// display: inline;
		}
	}

	#cl{
		height: $mq-height;
		background-color:$yellow;
		border-bottom: 1px solid #957800;
		color: black;
		overflow: hidden;
		// box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.37) inset;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3) inset;
		.msg_c{
			position: relative;
			transition: top 0.5s ease;
			.m-row{
				padding-left: 10px;
				transition: background-color 0.5s ease-in;
				&.dimmed{
					background-color: darken($yellow,25%);
				}
				&.lightened{
					background-color: darken($yellow,15%);
				}
			}
			@for $i from 0 through $carousel-count{
				&.pos-#{$i}{
					top: -($mq-height * $i);
				}
			}
		}
	}
}

#auth{
	position:absolute;
	margin-left:$sb-width;
	top:148px;
	width:600px;
	display:none;
	z-index: 50;

	background-color:white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	// height:400px;
	overflow: auto;
	// background: asset-url('agsquare.png') white repeat;
	
	
	
	// .c{
	// 	display: none;
	// }
	// :target{
	// 	display: block;
	// }
	.content {
		border: 2px solid $dark-blue;
		overflow: scroll;
	}
}
.bettertabs{
	// height: 100%;
	&#auth_tabs{
		.tabs{
			li{
				width:50% !important;
			}
		}
	}
	.content.hidden { display:none;} 
	.content {
		// border: 2px solid $dark-blue;
		border-top: none;
		// background-color: desaturate($dark-blue,30%);
		height:300px;
		position: relative;
	}
	.tabs{
		overflow: auto;
		li{
			
			float:left;
			text-align: center;
			line-height:35px;
			background-color: $blue;
			&.active{
				background-color:$dark-blue;
				box-shadow: 0px 0px 8px rgba(0,0,0,0.3) inset;
				// a{
				// 	color:white;
				// }
			}
			a{
				color: white;
				font-size:11pt;
				font-family: $hlv, sans-serif;
				font-style: italic;
				font-weight: 200;
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
	}
}

#agreement_text{overflow:auto;}
fieldset{
	.m-row{
		display: block;
	}
	&.right-aligned{
		.m-row{
			label{	
				display:inline-block;
				width:7em;
				text-align: right;
			}
			.m-right{
				margin-left: 15em;
			}
		}
	}
	&.spaced{
		.m-row{
			margin-bottom: 8px;
		}
	}
}
.form-signin{
	#agreement_text{ height:200px;}
	#cw_owner.hidden{ display: none; }
	font-size: 8pt;
	color: #aaa;
	.right-aligned{
		.m-row{
			label{
				width:15em;
			}
		}
	}
	

	&#login{
		height: 180px;
		
	}
	width: 380px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	// position: absolute;


}
.m-form-control{
		padding: 6px;
		border: none;
		border-bottom:1px dotted #777;
		background-color: transparent;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
		&.wide{
			border-bottom:1px solid #b9bdbd;
			width:100%;
			padding:9px;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
		}
	}
.m-btn{
	background-color: transparent;
	border: none;
	padding: 6px 18px;
	border: 1px solid rgb(161, 158, 158);
	border-radius: 4px;
	font-size: 9pt;
	font-weight: bold;
	cursor: pointer;
	&:hover{
		background-color:#efefef;
	}
	&:active{
		@include pushed-shadow;
	}
}

#m{
	margin-left:$sb-width;
	// height:100%;
	position:fixed;
	left:0;
	bottom:0;
	top: $mq-height*2;
	min-width: 740px;
	// right:250px;
	right: 0;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 10pt;
	overflow-y: scroll;
}
body.ads{
	#m{
		right: 250px;
	}
}

.map{
	#m{
		right: 0px;
		overflow: auto;
	}
	#map{
	  width:100%;
	  height:100%;
	}
	#page, #page .m-row, #main{
		height:100%;
	}

}

.temp-session{
	.c{
		width:200px;
		height:200px;
		position:relative;
		top:0;
		left:0;
		bottom:0;
		right: 0;
		margin: auto;
	}
}

.car-washes{
	#m{
		// padding:20px;
	}
	.header{
			margin: 20px;
	}
	.list{
		li{
			margin: 10px 0;
			width: 100%;
			// max-width: 400px;
			position: relative;
			.cbg{
				height: 120px;
				overflow:hidden;
				img{
					width:100%;
					top: -75px;
					position:relative;
				}
			}
			.p{
				position: absolute;
				top: 20px;
				bottom: 20px;
				width: 100%;
				background-color:rgba(0,0,0,0.8);
				color: white;
				padding:15px 40px;
				font-family: $hlv, sans-serif;
				h4{
					margin: 0;
				}
				a{
					color: white;
				}
			}
		}
	}

	#cw_header{
		.hbg{
			height: 115px;
			overflow: hidden;
			width: 100%;
			position: absolute;
			img{
				width: 100%;
				position: fixed;
				// position: relative;
				// top: -64%;
				height: 100%;
				z-index: -1;
				filter: blur(20px);
				-webkit-filter: blur(20px);
			}
		}
		.bgt{
			padding: 10px 20px;
			// background-color: rgba(0,0,0,0.3);
			// background-color:  rgba(69, 255, 250, 0.45)
			// background-color: rgba(99, 184, 255, 0.54);
			// position: absolute;
			// margin: 30px 0;
			margin-bottom:50px;
			margin-top: 10px;
			color: #333;
			text-shadow: 0 0 4px rgba(0,0,0,0.3);
			width: 100%;
			&.edit{
				margin-bottom:20px;
			}
		}

	}
	.bettertabs{
		.tabs{
			width:100%;
			li{
				width:20%;
				transition: all 0.5s ease;
				&:hover{
					// background-color:$dark-blue;
					box-shadow: 0 0 10px 2px rgba(255,255,255,0.6) inset;
				}
			}
		}
	}
	.cw_dashboard{
		// position: relative;
		padding: 15px 40px;
		a{
			font-style: italic;
		}
		
	}

	#cw_signal{
			border: 1px solid #777;
			padding: 10px 15px;

			display: inline-block;
			/* font-style: italic; */
			border-radius: 2px;
		}
	// table#car_wash_info{
	// 	tr{
	// 		td{
	// 			padding: 10px;
	// 			&:first-child{
	// 				text-align: right;
	// 				font-weight: bold;
	// 			}
	// 		}
	// 	}
	// }

	// #info_father{
	// 	background-color: lighten($sb-color,80%);
	// 	margin: 30px;
	// 	box-shadow: $g-shadow;
	// }
	
}

.rating{
	position: relative;
	z-index: 1;
	color: black;
	.uploader{
		color:black;
		a{
			color:black
		}
	}
	.review_form{
		display: none;
		background-color: white;
		padding-top: 26px;
		margin-top: -23px;
		padding-left: 10px;
		margin-left: -10px;
		padding-bottom: 20px;
	}
	.sc{
		font-size: 0pt;
	}
	div{
		// display: inline-block;
	}
	
	.lr{
		// opacity:0.8;
		color: grey;
		font-size:9pt;
		font-style: italic;
		&.lit{
			opacity:1;
		}
	}
}

.star{
	width: 16px;
	height: 18px;
	display: inline-block;
	background-image: asset-url('stars.png');
	margin-right:2px;
	cursor: pointer;
	&.lit{
		background-position: 16px 0px;
	}
	&.dim{
		background-position: -18px 0px;
	}
	&.sel, &.seld{
		background-position: -1px 0px;
		width:16px;
		// margin:0;
		height: 18px;
		position: relative;
		// top: -2px;
	}
}

.review-rating{
	display: inline-block;
	position: relative;
	top: 3px;
	left: 14px;
	font-size: 0pt;
	.star{
		cursor: default;
	}
}
#c, .c{
	background-color: lighten($sb-color,80%);
	margin: 30px;
	box-shadow: $g-shadow;
	padding: 20px;
}

h3{
	font-weight: bold;
	font-size: 12pt;
	margin:20 auto; //intentionally broken
	&.b-marged{
		margin-bottom: 10px;
	}
}
h3.sub{
	color: #aaa;
}
h4{
	// font-style: italic;
	font-size:12pt;
	margin: 10px 0;
}
h4.i{
	font-style: italic;
}
h2{
	font-weight: bold;
	font-size: 16pt;
	&.marged{
		margin: 10px 0;
	}
}
h1{
	// font-size: 24pt;
	font-size: 28pt;
	font-weight: 100;
	font-family: 'Open Sans', Arial, sans-serif

}
.posts{
	section{
		margin-left:20px;
	}
	article{
		margin-top:30px;
		h3{
			margin-bottom:15px;

		}
		.c{
			margin-bottom:20px;
		}
		
		.share42init{
			display: inline-block;
			position: relative;
			top:7px;
			margin-left: 50px;
		}
	}
}
.date{
	display: inline-block;
	color: #aaa;
}
.forums, .topics{
	#m{
		width: 90%;
		padding: 20px;
	}
	.topic{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 25px;

		margin: 20px 0;
		width:500px;
		.subject{
			float:left;
		}
		.latest-post{
			overflow: hidden;
			text-align: right;
			float:right;
		}
	}

	.simple_form{
		width:400px;

		input,textarea{
			width: 100%;
		}
	}

	.post{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 25px;

		margin: 20px 0;
		width:500px;	
	}

}

#ad{
	position: fixed;
	right: 0;
	width: 250px;
	bottom: 0;
	top: $mq-height*2;
	background-color: rgba(250,250,250,1);
	font-family: $hlv, sans-serif;
	.x1,.x2{
		padding: 10px;
		font-size: 10pt;
		background-color: #ebebeb;
		margin: 20px;
	}
	h4{
		font-weight: 200;
		color: #464646;
	}
	p{
		color: #969696;
	}
	#x1{
	}
	#x2{
	}

}

#cw-live{
	overflow: auto;
	float:right;
	min-height: 270px;
	.ivideon_c{
		width: 50%;
		float:left;
		.iv-v{
			height: 200px !important;
		}
	}
}

.m-info-table{
	tr{
		td{
			padding: 10px;
			&:first-child{
				text-align: right;
				font-weight: bold;
			}
		}
	}
}

.display-none{
	display: none;
}

.best_in_place{
	padding: 5px;
	/* line-height: 26px; */
	display: inline-block;
	border-radius: 3px;
	&:hover{
		background-color: rgb(255, 254, 136);
		&:after{
			content: "редактировать";
			margin-left: 20px;
		}
	}
}

.widgets-list{
	li{
		display:inline-block;
			a{
			
		}
	}
}

article.media{
	padding:10px;
	&:hover{
		background-color: #e9ece7;
	}

}

.left{
	float: left;
}

.right{
	float: right;
}

.pad-15{
	padding: 15px;
}

.pad-7{
	padding: 7px;
}

.cw_cat{
	left: -120px;
	position: relative;
}

#cw_content .c{
	// float: left;
	margin: 12px;
	margin-top: 0;
	&.left{
		float:left;
	}
	&.right{
		float:right;
	}
	#info{
		width:30%;
	}
}

#cw-info{
	display: inline-block;
	// width: 30%;
	// float: left;
	font-size:10pt;

	.m-info-table tr td {
		padding:5px;
	}

}

#cw-first{
	overflow: hidden;
	.left{
		max-width:70%;
	}
}
#cw-map.c{
	// float:right;
	// display: inline-block;
	padding:0;
	overflow:hidden;
	background-color: transparent;
	#map{
		height:250px;
		width: 100%;
	}
}

#cw-live{
	width: 58%;
}

td.td-10{
	width:10%;
}

a.m-btn{
	display: inline-block;
}

.cd{
	margin:7px 0;
	a{
		width:100%;
		text-align: center;
	}
}

#m_mq{
	// width:200%;
	.msg_mq{
		// width:49%;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
		// float: left;
		// display: none !important;
		visibility:hidden;
		opacity: 0;
		a{color: white;}
		position: absolute;
		&.active{
			// display: inline-block !important;
			visibility:visible;
		  opacity:1;
		  transition-delay:0s;
		}
	}
}

.balloon{
	font-family: $hlv, $pt, sans-serif;
}

#fake_video{
	width:98%;
}

#cw-videos{
}
#cw-images{
}

#cw-actions.c{
	margin-top:0;
}

.pbox{
	box-shadow: $g-shadow;
	padding:10px;
	margin:10px;
}






.reviews{
	.rating{
		margin-top:0;
	}
}

.v-inline{
	*{
		vertical-align: middle
	}
}

.info{
	.phone{
		font-size: 17pt;
		margin-bottom: 10px;
	}
	.working-time{
		margin-top: 10px;
	}
}

.categories{
	margin-top:15px;
}

#cw-reviews.c{
	width: 39%;
	margin-top: 0;
	.reviews-items{
		margin-top: 17px;
		.review-images{
			display: none;
			img{
				width: 100%;
			}
		}
	}
}

.hidden{
	display:none;
}

#bg{
	img{
		min-height:100%;
		min-width: 1024px;

		width:100%;
		height: auto;

		position: fixed;
		top: $mq-height*2;
		left: $sb-width;

		filter: blur(20px);
		-webkit-filter: blur(20px);
	}
}

input[type=text],input[type=password], input[type=email],textarea{
	width: 200px;
	background-color: white;
}

#wt{
	padding: 10px;
	font-size: 10pt;
}

.balloon{
	.red{
		color: white;
		background-color: red;
		padding: 6px 20px;
		display: inline-block;
		border-radius: 7px;
		font-weight: bold;
		font-size: 15px;
		font-family: 'PT sans', sans-serif;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.26);
		margin-left: 3px;
	}
	.green{
		color: white;
		background-color: rgb(63, 255, 0);
		padding: 6px 20px;
		display: inline-block;
		border-radius: 7px;
		font-weight: bold;
		font-size: 15px;
		font-family: 'PT sans', sans-serif;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.26);
		margin-left: 3px;
	}
}

#cw_content{
	.tabs{
		margin-bottom: 15px;
	}
}

.cw_admin{
	.videos{
		float:left;
		width:40%;
	}
	.live{
		float:right;
		width:50%;
	}
}