//@import "twitter/bootstrap";
@import "bootsy";
@import "social";
// @import "forem/base";
// @import "forem-bootstrap";
@import "reset";
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
// @import "bootstrap";
// @import "flowplayer/skin/minimalist"

$blue: #56b2ff;
// rgb(255, 207, 6)
$yellow: #FFF14A;
$dark-blue: adjust-hue(darken($blue,40%),-25deg);
// $sb-color: rgba(249,249,249,0.95);
$sb-color: white;

$g-shadow: 0px 0px 6px rgba(0,0,0,0.1);

$sb-width: 240px;
$mq-height: 25px;

$carousel-count: 5;


@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

html,body{
	height:100%;
	background-color: #e5e5e5;
	font-family: 'PT Sans', sans-serif;

}

* {
	box-sizing: border-box;
}

a{
	text-decoration:none;
	color: #222;
	&:hover{
		// border-bottom: 1px solid #222;
		text-decoration: underline;
		// &.image {
		// 	border-bottom: none;
		// }
	}
}

.v-align-helper{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.clearfix{
	overflow: auto;
}
#sb{
	width:$sb-width;
	height:120%;

	// background-color:rgba(245,245,245,0.95);
	background-color:$sb-color;
	// box-shadow:2px 0px 4px rgba(0,0,0,0.3);
	box-shadow:$g-shadow;
	// border-right: 2px solid #777;

	// padding-left:10px;

	/*overflow-y:auto;*/
	z-index:10;
	position:absolute;
	float:left;
	.ocean{
		margin-top: -29px;
	}
	.logo{
		// padding-top: 10px;
		// padding-left: 10px;
		// padding-bottom: 20px;
		margin: 10px;
		background: white;
		// padding: 7px;
		// padding-left:21px;
		// box-shadow: 0 0 6px rgba(0,0,0,0.5);
		img{
			width:150px;
		}
	}

	.hr{
		height: 86px;
		background: #56b2ff;
		// box-shadow: 0 0 5px rgba(0,0,0,0.2);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
		position: fixed;
		width: $sb-width;
		top: 0;
		z-index: -1;
	}

	.social{
		overflow:auto;
		float: right;
		display: none;
		margin:10px 5px;
		background-color: #af0f0f;
		padding: 4px;
		padding-right: 6px;
		margin-right: -6px;
		box-shadow: -2px 2px #4f0707;

 	}


	nav{
		position: relative;
		top: 26px;
		// background-color: $sb-color;
	}

	#survey{
		padding:10px;
		background-color: rgba(150,159,150,0.13);
		box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
	}

	#footer{
		position: fixed;
		bottom: 0;
		height: 80px;
		// background-color: #362f2d;
		background-color: rgba(68, 61, 59, 0.88);
		// box-shadow: 3px 5px 11px rgba(0,0,0,0.31) inset;
		color: white;
		width: inherit;
		font-size:10pt;
		// background: -webkit-linear-gradient(-64deg, rgba(68,61,59,0.98) 0%,rgba(68,61,59,1) 49%,rgba(81,81,81,1) 50%,rgba(68,61,59,0.98) 100%);
		background: url('footer_2.png');
		
		#copyright{
			margin: 15px;
			position: absolute;
			bottom:0;
			right:0
		}

		

	}

}
#social{
	margin: 10px;
}

nav ul{
	font-family:'Helvetica Neue', 'PT Sans', sans-serif;

	li{
		padding:10px;
		cursor:pointer;
		margin:0;
		transition: 400ms all ease;
		width: 100%;
		overflow: auto;
		img{
			position: relative;
			z-index:10;
			// top: 4px;
			float: right;
		}
		&.active{
			// background-color:$blue;
			border-right:8px solid $blue;
			background-color: rgba(150,159,150,0.13);
			box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
			img{
			}
			a{
				color: #222 !important;
				// font-weight: bold;
				color: $dark-blue;
				// &:after{
				// 	content: "";
				// 	display: inline-block;
				// 	background-color: $blue;
				// 	width: 30px;
				// 	height: 40px;
				// 	position: absolute;
				// 	z-index: 0;
				// 	top: 0px;
				// 	left:190px;
				// }
				// &:after{
				// 	content:"";
				// 	background-color:white;
				// 	width:7px;
				// 	height:7px;
				// 	display:inline-block;
				// 	@include rotate(45deg);
				// 	// border-top: 1px solid black;
				// 	// border-right: 1px solid black;
				// 	border-top: 2px solid $blue;
				// 	border-right: 2px solid $blue;
				// 	// box-shadow:0px 0px 2px 1px rgba(0,0,0,0.3);
				// 	position: absolute;
				// 	// z-index: -1;
				// 	left: 195px;
				// 	top:3px;
				// 	border-radius: 1px;
				// }
			}

		}
		&:hover{
			a{
				color: #222 !important;
			}
		}
		a{/* Old one
			text-transform: uppercase;
			text-decoration:none;
			font-family:'Helvetica Neue', sans-serif;
			font-size:9pt;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			color:#444;
			letter-spacing:1px;
			padding:0;
			position:relative;
			transition: 0.2s all ease; */
			// text-transform: lowercase;
			// text-decoration:none;
			font-size:15px;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			color:#666;
			letter-spacing:0px;
			padding:0;
			position:relative;
			transition: 0.2s all ease;
			// font-weight: 200;
			&:visited{
				// color: #444;
			}
			
		}
	}
	#news{
		border: 1px solid #ccc;
		#news_list{
			// background-color: rgba(150,159,150,0.13);
			// box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
			// font-size: 9pt;
			// padding: 4px 10px;
			background-color: rgba(150,159,150,0.13);
			font-size: 9pt;
			border-right: 8px solid #56b2ff;
			padding: 4px 10px;
			box-shadow: 0 0 6px rgba(0,0,0,0.1) inset;
			a{
				margin:0 0;
				display: block;
				color: #555 !important;
				span{
					color: #888;
				}
			}
		}
	}


}


#hd{
	position: fixed;
	z-index:10;
	left:0;
	right:0;
	line-height: $mq-height;
	margin-left:$sb-width;

	#mq{
		background-color: rgba(0,0,0,0.8);
		height:$mq-height;
		border-bottom: 1px solid black;
		color:white;
		padding-left: 10px;
		.vr{
			// border-right: 1px solid #ccc;
			height: ($mq-height - 6);
			position: relative;
			&:after{
				content: "";
				top:3px;
				bottom:3px;
				border-left: 1px solid black;
				border-right: 1px solid #666;
			}
			// top: 3px;
		}
		// position:fixed;
		div{
			display: inline-block;
		}
		.traffic{
			#traffic_light{
				// position: relative;
				// top: 2px;
				width:16px;
				height: 20px;
				vertical-align: middle;
				&.none{
					background: asset-url('traffic_none.png') no-repeat;
				}
				&.red{
					background: asset-url('traffic_red.png') no-repeat;
				}
				&.yellow{
					background: asset-url('traffic_yellow.png') no-repeat;
				}
				&.green{
					background: asset-url('traffic_green.png') no-repeat;
				}
			}
		}
	}

	#cl{
		height: $mq-height;
		background-color:$yellow;
		border-bottom: 1px solid #957800;
		color: black;
		overflow: hidden;
		.msg_c{
			position: relative;
			transition: top 0.5s ease;
			.m-row{
				padding-left: 10px;
				transition: background-color 0.5s ease;
				&.dimmed{
					background-color: darken($yellow,25%);
				}
				&.lightened{
					background-color: darken($yellow,15%);
				}
			}
			@for $i from 0 through $carousel-count{
				&.pos-#{$i}{
					top: -($mq-height * $i);
				}
			}
		}
	}
}

.auth{
	position:absolute;
	margin-left:$sb-width;
	top:148px;
	width:600px;

	background-color:white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	// height:400px;
	overflow: auto;
	// background: asset-url('agsquare.png') white repeat;
	
	
	
	// .c{
	// 	display: none;
	// }
	// :target{
	// 	display: block;
	// }
	.bettertabs{
		.tabs{
			li{
				width:50% !important;
			}
		}
	}
	.content {
		border: 2px solid $dark-blue;
	}
}
.bettertabs{
	// height: 100%;
	.content.hidden { display:none;} 
	.content {
		// border: 2px solid $dark-blue;
		border-top: none;
		// background-color: desaturate($dark-blue,30%);
		height:300px;
		position: relative;
	}
	.tabs{
		overflow: auto;
		li{
			
			float:left;
			text-align: center;
			line-height:35px;
			background-color: $blue;
			&.active{
				background-color:$dark-blue;
				box-shadow: 0px 0px 8px rgba(0,0,0,0.3) inset;
				// a{
				// 	color:white;
				// }
			}
			a{
				color: white;
				text-size:11pt;
				font-family: "Helvetica Neue", sans-serif;
				font-style: italic;
				font-weight: 200;
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
	}
}

.form-signin{
	#agreement_text{ height:200px;overflow:auto;}
	#cw_owner.hidden{ display: none; }
	font-size: 8pt;
	color: #aaa;
	fieldset{
		&.right-aligned{
			.m-row{
				display: block;
				label{
					display:inline-block;
					width:15em;
					text-align: right;
				}
				.m-right{
					margin-left: 15em;
				}
			}
		}
	}

	&#login{
		height: 80px;
		
	}
	width: 380px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;


}
.m-form-control{
		padding: 4px;
		border: none;
		border-bottom:1px dotted #777;
		background-color: transparent;
	}
.m-btn{
	border: 2px solid $dark-blue;
	background-color: white;
}

#m{
	margin-left:$sb-width;
	height:100%;
	position:fixed;
	left:0;
	top: $mq-height*2;
	right:250px;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 10pt;
	overflow-y: scroll;
}

.map{
	#m{
		right: 0px;
		overflow: auto;
	}
	#map{
	  width:100%;
	  height:100%;
	}
	#page, #page .m-row, #main{
		height:100%;
	}

}

.temp-session{
	.c{
		width:200px;
		height:200px;
		position:relative;
		top:0;
		left:0;
		bottom:0;
		right: 0;
		margin: auto;
	}
}

.car-washes{
	#m{
		// padding:20px;
	}
	.header{
			margin: 20px;
	}
	.list{
		li{
			margin: 10px 0;
			width: 100%;
			// max-width: 400px;
			position: relative;
			.cbg{
				height: 120px;
				overflow:hidden;
				img{
					width:100%;
					top: -75px;
					position:relative;
				}
			}
			.p{
				position: absolute;
				top: 20px;
				bottom: 20px;
				width: 100%;
				background-color:rgba(0,0,0,0.8);
				color: white;
				padding:15px 40px;
				font-family: 'Helvetica Neue', sans-serif;
			}
		}
	}

	#cw_header{
		.hbg{
			height: 150px;
			overflow: hidden;
			width: 100%;
			img{
				width:100%;
				position: relative;
				top: -100%;
			}
		}
		.bgt{
			padding: 10px 20px;
			background-color: rgba(0,0,0,0.3);
			position: absolute;
			top: 50px;
			color: white;
			text-shadow: 0 0 4px rgba(0,0,0,0.3);
		}

	}
	.bettertabs{
		.tabs{
			width:100%;
			li{
				width:20%;
			}
		}
	}
	#cw_dashboard{
		// position: relative;
		padding: 25px 40px;
		#cw_signal{
			border: 1px solid #777;
			padding: 10px 15px;
			display: inline-block;
			/* font-style: italic; */
			border-radius: 2px;
		}
	}
	table#car_wash_info{
		tr{
			td{
				padding: 10px;
				&:first-child{
					text-align: right;
					font-weight: bold;
				}
			}
		}
	}

	// #info_father{
	// 	background-color: lighten($sb-color,80%);
	// 	margin: 30px;
	// 	box-shadow: $g-shadow;
	// }
	#c{
		background-color: lighten($sb-color,80%);
		margin: 30px;
		box-shadow: $g-shadow;
		padding: 20px;
	}
}

h3{
	font-weight: bold;
	font-size: 12pt;
	margin:20 auto;
}
h3.sub{
	color: #aaa;
}
h4{
	// font-style: italic;
	font-size:12pt;
	margin-bottom: 10px;
}
h4.i{
	font-style: italic;
}
h2{
	font-weight: bold;
	font-size: 16pt;
}
h1{
	font-size: 24pt;
}
.posts{
	section{
		margin-left:20px;
	}
	article{
		margin-top:30px;
		h3{
			margin-bottom:15px;

		}
		.c{
			margin-bottom:20px;
		}
		.date{
			display: inline-block;
			color: #aaa;
		}
		.share42init{
			display: inline-block;
			position: relative;
			top:7px;
			margin-left: 50px;
		}
	}
}

.forums, .topics{
	#m{
		width: 90%;
		padding: 20px;
	}
	.topic{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 25px;

		margin: 20px 0;
		width:500px;
		.subject{
			float:left;
		}
		.latest-post{
			overflow: hidden;
			text-align: right;
			float:right;
		}
	}

	.simple_form{
		width:400px;

		input,textarea{
			width: 100%;
		}
	}

	.post{
		background-color: rgba(255,255,255,0.7);
		padding: 15px 25px;

		margin: 20px 0;
		width:500px;	
	}

}

#ad{
	position: fixed;
	right: 0;
	width: 250px;
	bottom: 0;
	top: $mq-height*2;
	background-color: rgba(250,250,250,1);
	font-family: 'Helvetica Neue', sans-serif;
	.x1,.x2{
		padding: 10px;
		font-size: 10pt;
		background-color: #ebebeb;
		margin: 20px;
	}
	h4{
		font-weight: 200;
		color: #464646;
	}
	p{
		color: #969696;
	}
	#x1{
	}
	#x2{
	}

}