// @import "application";
@import "toggle_buttons";
@import "placemarks";
@import "scaffolds";

html,body{
	background-color:white;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Arial", sans-serif;
	background-color: rgb(250,250,250);
	margin:0;
	padding:0;
	/*font-weight: 200;*/
}

$blue: #56b2ff;
$red: #BE1E2D;

.m-form-control{
		padding: 6px;
		border: none;
		border-bottom:1px dotted #777;
		background-color: white;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
		margin-bottom: 10px;
		&.wide{
			border-bottom:1px solid #b9bdbd;
			// width:70%;
			width:270px;
			margin-left: auto;
			margin-right: auto;
			padding:9px;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			height: 30px;
			display: block
		}
	}
.m-btn{
	background-color: white;
	border: none;
	padding: 6px 18px;
	border: 1px solid rgb(161, 158, 158);
	border-radius: 4px;
	font-size: 9pt;
	// font-weight: bold;
	cursor: pointer;
    -webkit-appearance: none;
	&.wide{
		margin-left: auto;
		margin-right: auto;
		// width:30%;
		width: 290px;
		height: 45px;
		display: block;
	}
	&.btn-primary, &.blue{
		color:white;
		background-color: $blue;
	}
	&.btn-danger, &.red{
		color:white;
		background-color: $red;
	}
	&:hover{
		color: black;
		background-color:#efefef;
	}
	&:active{
		box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) inset;
		background-color: white;
	}
}
form{
	// max-width: 400px;
	// margin: 0 auto;
	padding: 0 20px;
}

h4,h5{
	text-align:center;
	font-weight:200;
	margin-top: 5px;
}
h4{
	font-size: 18pt;
	&.s{
		font-size:12pt;
	}
	&.widget-comment{
		font-size:15pt;
		margin-top: 15px;
	}
}

.flash{
	position: relative;
	z-index: 1003;
	left: 31%;
	/* right: 2%; */
	padding: 10px 30px;
	border-radius: 10px;
	top: 0;
}

.widgets{
	max-width: 300px;
	margin:0 auto;
}

.widget-pic{
	@media screen and (min-width: 345px){
		zoom: 1.2;
	}
}

.circle {
	border: 1px solid white;
    background: #ee0000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    top: -10px;
    left: -10px;
/*    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);

*/
}
a.no-dec{
	text-decoration: none;
}
.new-client{
	position: relative;
	/*width: 220px;*/
	/*height: 135px;*/
	height: 76px;
	width: 80%;
	margin: 0 auto;
	background-image: asset-url('new_request.gif');
	background-size: cover;
}
.new-subscribe{
	position: relative;
	/*width: 220px;*/
	width:80%;
	/*height: 135px;*/
	height: 76px;
	margin: 0 auto;
	background-image: asset-url('new_subscribe.gif');
	background-size: cover;
	float: right;
}

.num{
	position: relative;
	z-index:99;
	color:white;
	text-decoration: none;
}

table.mobile{
	$border: #787878;
	width: 100%;
	border-spacing: 0;
	padding:20px;
	tr:last-child td{
		border-bottom: 1px solid $border;
	}
	th, .bold{
		font-family: "Helvetica Neue", Arial, sans-serif;
	}
	tr{
		/*padding: 10px 0;*/
		text-align: center;
		vertical-align: top;
	}
	th{
		border-top: 1px solid $border;
		border-bottom: 2px solid $border;
	}
	th,td{
		padding: 10px 0 18px 0;
	}
	tr.bold{
		font-weight: bold;
	}
	tr.even{
		/*background-color: white;*/
		background-color: rgba(41,181,243,0.16);
	}
}

.low-row{
	width: 320px;
	margin: 0px auto;
	padding: 20px 0;
	overflow: auto;
	.left{
		float: left;
		width:49%;
	}
}

a.back{
	display: inline-block;
	margin-left:15px;
	text-decoration: none;
	color:rgb(41,181,243);
	font-size: 14pt;
}

#shit{
	font-family: 'Helvetica Neue';
}

