nav{
	#login{
		background-position: 33px 39px;
		height: 20px;
	}
	#cmps{
		
	}
	#car_washes{
		background-position:0px 18px;
		height:18px;
	}
	#news_icon{
		background-position:50px -17px;
		height: 20px;
	}
	#proposals{
		background-position: 51px 0px;
	}
	#forum{
		background-position: 18px 0px;
		width: 18px;
	}
	#info{
		background-position: 51px 19px;
		height: 18px;
		width: 17px;
	}
	#about{
		background-position: 33px 20px;
		height: 18px;
		width: 17px;
	}
	#none{
		background-image: none;
	}
}