// body {
//   background-color: #fff;
//   color: #333;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;
//   &:visited {
//     color: #666;
//   }
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  color: red;
  display: inline-block;
  input,textarea{
    background-color: #DC4D4D;
    color:white;
  }
}

#error_explanation {
  width: 450px;
  /* border: 2px solid red; */
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #DC4D4D;
  color: white;
  margin: 10px;
  padding: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.flash{
  position: fixed;
  z-index: 1003;
  width: 70%;
  left:15%;
  opacity:0.9;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.notice{
  background-color: rgb(145, 214, 145);
  border: 2px solid green;
}

.alert{
  background-color: #ff5c51;
  border: 2px solid #80101e;
}