#social {
  .color_on_hover {
    height: 24px;
    width: 25px;
    display: inline-block;
    &:hover{
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.21);
    }
    a {
      max-width: 100%;
      overflow: hidden;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &#google {
      /*margin-left: 1% */
      background-image: asset-url('social.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -41px;
      &:hover {
      }
    }
    &#youtube {
      /*margin-left: 1% */
      width: 35px;
      background-image: asset-url('social.png');
      background-size: cover;
      background-repeat: no-repeat;
      &:hover {
        background-repeat: no-repeat;
      }
    }
    &#mir {
      background-image: asset-url(image_path("social/mir.png"));
      background-size: cover;
      background-repeat: no-repeat;
      &:hover {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &#vk {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: asset-url("social.png");
      background-position-x: -71px;
      &:hover {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &#odn {
      background-image: url(image_path("social/odn.png"));
      background-size: cover;
      background-repeat: no-repeat;
      &:hover {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &#twitter {
      background-image: asset-url("social.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -133px;
      &:hover {
        background-repeat: no-repeat;
      }
    }
    &#facebook {
      background-image: asset-url("social.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -102px;
      &:hover {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
