#cl
  .msg_c
    - @cube_ads.each_with_index do |ad, i|
      - unless ad.text.blank?
        .m-row{ :class => ('dimmed' if i > 0), :id => "cl_#{i}" } 
          = link_to ad.text, ad.url, target: '_blank'
