<div class="video_wrapper">
  <%- if local_assigns[:id].nil? -%>
  <iframe width="100%" height="315" src="<%= src %>" frameborder="0" allowfullscreen></iframe>
  <%- else -%>
  <span class="video_thumb_text">Нажмите, чтобы просмотреть видео</span>
  <div class="video_thumb" data-src="<%= src %>" data-id="<%= id %>"></div>
  <%- end -%>
</div>
