- if user_signed_in?
  %li
    = link_to t('logout'), main_app.destroy_user_session_path, :method => :delete, class: 'li'
    .img#login
  - if current_user.admin?
    %li 
      = link_to 'Админка', main_app.admin_url, class: 'li'
  -unless current_user.car_wash.nil?
    = nav_to 'Управление автомойкой', edit_car_wash_path(current_user.car_wash), 'none'
- else
  %li 
    %a#show_auth.li
      Вход
      .img#login