
#copyright
  = mail_to 'info@moika-77.ru'
  %br
  =link_to '© “Прогресс Мск”', 'legal'
  %br
  2013 - 2014
  #via
    Разработка и дизайн:
    %br
    = link_to 'Маша и Мурыгин', 'http://urmurmur.ru/ru.html', target: '_blank'