.metrika
  =render 'metrika_informer'
#copyright
  = mail_to 'info@moika-77.ru'
  %br
  =link_to '© “Прогресс Мск”', 'legal'
  %br
  2013 - 2014
  #via
    Разработка и дизайн:
    %br
    = mail_to 'Маша и Мурыгин', 'mibus32@gmail.com'