.logo.hidden-xs
  logo
.container.hidden-xs
  social
%ul.nav.nav-pills.nav-stacked
  %li.visible-xs-inline-block.visible-sm-block.visible-md-block.visible-lg-block
    %a
      Вход
  %li.visible-xs-inline-block.visible-sm-block.visible-md-block.visible-lg-block
    %a
      Карта