.logo.hidden-xs
  =link_to :root do
    =image_tag 'logo.png'
.social.hidden-xs
  =render 'social'
%nav
  %ul.nav
    - @navs.each do |n|
      %li{ class: ('active' if n.path.tr('/','') == current_path.split('/').first.to_s) } 
        = link_to n.name, n.path, :remote => n.remote
