<div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:291px;">
	<div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;">
		<iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;" src=<%= ivideon_url %> width="640" height="524" frameborder="0" allowfullscreen>
		</iframe>
	</div>
	<div class="iv-b" style="display:block;margin:0;padding:0;border:0;">
		<div style="clear:both;height:0;overflow:hidden;">&nbsp;
		</div><script src="http://open.ivideon.com/embed/v2/embedded.js">
		</script>
	</div>
</div>
